<!-- 애드핏 -->
<!-- <script>
	if (window.matchMedia("( min-width: 1024px )").matches == true) {
		document.write(
			'<div class="adfit pc"><ins class="kakao_ad_area" style="display:none;" data-ad-unit="DAN-BGxutzmFIQKTCsBJ" data-ad-width="728" data-ad-height="90"></ins><script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async><\/script></div>'
		);
	}
	if (window.matchMedia("( max-width: 768px )").matches == true) {
		document.write(
			'<div class="adfit mobile"><ins class="kakao_ad_area" style="display:none;" data-ad-unit="DAN-LIXGATwTsRbktuGW" data-ad-width="320" data-ad-height="100"></ins><script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async><\/script></div>'
		);
	}
</script> -->

<!-- 애스센스 -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8867843198260985"
	crossorigin="anonymous"></script>