<!-- Adfit -->
{{- partial "ad.html" . -}}

<!-- 페이지 로딩속도 향상 -->
<script src="https://unpkg.com/tachyonjs@2.0.1/tachyon.min.js"
    integrity="sha384-4iJteL1FYnj4Ju83AJvNthpx5gZ1QaXCamXhY3lxhAjTNXUN+NXq5LQV/fXOSRme" type="module" crossorigin
    defer></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HX48LG7RHQ"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-HX48LG7RHQ');
</script>

<script src="https://kit.fontawesome.com/2cc80d7123.js" crossorigin="anonymous"></script>

<!-- Clarity tracking code -->
<script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
        c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
        t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "kh8nyrma82");
</script>