<!-- 애스센스 -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8867843198260985"
	crossorigin="anonymous"></script>

<!-- ad -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8867843198260985" data-ad-slot="4965624947"
	data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
</script>

{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
	<header class="entry-header">
		<!-- <h1>{{ .Title | markdownify }}</h1> -->
		<h1>{{ .Title | safeHTML }}</h1>
	</header>
	<div class="entry-content">{{ .Content | markdownify }}</div>
	<footer class="entry-footer">{{ partial "social_icons.html" site.Params.socialIcons }}</footer>
</article>
{{- end -}}